@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
    .page-container {
        @apply container mx-auto px-4 sm:px-6;
    }

    .heading-1 {
        @apply text-xl md:text-2xl font-bold tracking-tight leading-tight text-balance;
    }

    .heading-2 {
        @apply text-base md:text-lg font-semibold tracking-tight leading-tight text-balance;
    }

    .heading-3 {
        @apply text-base md:text-lg font-medium leading-snug tracking-tight;
    }

    .text-lead {
        @apply text-base sm:text-lg leading-relaxed font-normal tracking-normal text-pretty;
    }

    .text-body {
        @apply text-sm md:text-base leading-relaxed tracking-normal text-pretty;
    }

    .text-meta {
        @apply text-sm md:text-base text-app-text-secondary leading-snug tracking-wide font-normal tabular-nums;
    }
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #3b82f6;
    color: white;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@utility container {
    padding-inline: var(--spacing-md);
    margin-inline: auto;
    max-width: 100%;

    @variant md {
        @apply max-w-3xl;
    }
}

@utility prose-app {
    --tw-prose-body: var(--color-app-text);
    --tw-prose-headings: var(--color-app-text);
    --tw-prose-lead: var(--color-app-text-secondary);
    --tw-prose-bold: var(--color-app-text);
    --tw-prose-counters: var(--color-app-text);
    --tw-prose-bullets: var(--color-app-text);
    --tw-prose-hr: var(--color-app-border, #e5e7eb);
    --tw-prose-quotes: var(--color-app-text);
    --tw-prose-quote-borders: var(--color-app-text-secondary);
    --tw-prose-captions: var(--color-app-text-secondary);
    --tw-prose-code: var(--color-app-text);
    --tw-prose-pre-code: var(--color-app-text);
    --tw-prose-pre-bg: var(--color-app-brand-secondary, #f3f4f6);
    --tw-prose-th-borders: var(--color-app-border, #e5e7eb);
    --tw-prose-td-borders: var(--color-app-border, #e5e7eb);

    --tw-prose-links: var(--color-app-link);

    p {
        @apply text-pretty leading-relaxed tracking-normal;
    }

    a {
        @apply font-bold underline decoration-app-link underline-offset-2 transition-opacity;
        color: var(--color-app-link);
    }
    a:hover {
        @apply opacity-80;
    }

    h1 {
        @apply text-xl md:text-2xl font-bold tracking-tight leading-tight text-balance;
    }

    h2 {
        @apply text-base md:text-lg font-semibold tracking-tight leading-tight text-balance mt-8 mb-4;
    }

    h3 {
        @apply text-base md:text-lg font-medium leading-snug tracking-tight;
    }

    img {
        @apply rounded-xl shadow-lg;
    }

    pre {
        @apply border border-app-border bg-gray-50 dark:bg-gray-900 rounded-lg;
    }
}

/* Design tokens base */
@theme {
    /* Font */
    --font-sans: "Roboto", sans-serif;

    /* Spacing scale */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* Font sizes */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem;   /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem;  /* 20px */

    /* Breakpoints */
    --breakpoint-sm: 500px;
    --breakpoint-tb: 600px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Light theme */
    --color-app-body: #ffffff;
    --color-app-text: #0f0f0f;
    --color-app-text-secondary: #606060;
    --color-app-surface: #f2f2f2;
    --color-app-border: #e5e5e5;
    --color-app-hover: #e5e5e5;
    --color-app-active: #d9d9d9;

    /* Brand */
    --color-app-brand-primary: #4f46e5;
    --color-app-brand-secondary: #e11d48;
    --color-app-link: #4f46e5;

    /* STATES */
    --color-app-error: #cc0000;
}

/* data-theme="dark" */
[data-theme="dark"]  {
    --color-app-body: #0f0f0f;
    --color-app-text: #f1f1f1;
    --color-app-text-secondary: #aaaaaa;
    --color-app-surface: #272727;
    --color-app-border: #3f3f3f;
    --color-app-hover: #3f3f3f;
    --color-app-active: #525252;

    --color-app-brand-primary: #4f46e5;
    --color-app-brand-secondary: #e11d48;
    --color-app-link: #4f46e5;

    --color-app-error: #ff4e45;
}
