@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@utility container {
    padding-inline: var(--spacing-md);
    margin-inline: auto;
    max-width: 100%;

    @variant xl {
        max-width: 1240px;
    }
    @variant 2xl {
        max-width: 1496px;
    }
}

/* Design tokens base */
@theme {
    /* Font */
    --font-sans: "Roboto", sans-serif;

    /* Spacing scale */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* Font sizes */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem;   /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem;  /* 20px */

    /* Breakpoints */
    --breakpoint-sm: 500px;
    --breakpoint-tb: 600px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Light theme */
    --color-app-body: #ffffff;
    --color-app-text: #1a1a1a;
    --color-app-text-secondary: #4a4a4a;
    --color-app-surface: #f5f5f5;
    --color-app-border: #e0e0e0;
    --color-app-hover: #e0e0e0;
    --color-app-active: #e0e0e0;

    /* Brand */
    --color-app-brand-primary: #3b82f6;
    --color-app-brand-secondary: #9333ea;

    /* States */
    --color-app-error: #ef4444;
}

/* data-theme="dark" */
[data-theme="dark"]  {
    --color-app-body: #1a1a1a;
    --color-app-text: #f5f5f5;
    --color-app-text-secondary: #cfcfcf;
    --color-app-surface: #2a2a2a;
    --color-app-border: #3a3a3a;
    --color-app-hover: #e0e0e0;
    --color-app-active: #e0e0e0;

    --color-app-brand-primary: #60a5fa;
    --color-app-brand-secondary: #c084fc;

    --color-app-error: #f87171;
}
