---
import { getLocale } from '@/translations'
import HomePageLayout from '@/layouts/HomePageLayout.astro'

const lang = getLocale(Astro.url.pathname)
---

<HomePageLayout>
  <h1>Astro</h1>
</HomePageLayout>
