---
import CategoryCard from './CategoryCard.astro'
import { t } from '@/translations'
import { CATEGORIES_PATH } from '@/modules/Shared/Infrastructure/Frontend/Paths'
import { buildRelativeUrl } from '@/modules/Shared/Infrastructure/Frontend/Url'
import type { Locale } from '@/config/i18n.config'
import type { CategoryApplicationDto } from '@/modules/Category/Application/CategoryApplicationDto'

interface Props {
  lang: Locale
  categories: Array<CategoryApplicationDto>
}

const { lang, categories } = Astro.props

const sectionTitleTranslation = await t(lang, 'categories', 'category_card_gallery_section_title')
---

<section aria-labelledby="categories-section-title">
  <h2 id="categories-section-title" class="sr-only">
    {sectionTitleTranslation}
  </h2>

  <ul class="grid grid-cols-2 gap-2 md:gap-4 tb:grid-cols-4">
    {categories.map((category) => (
      <li>
        <CategoryCard
          title={category.name}
          href={buildRelativeUrl(lang, [ CATEGORIES_PATH, category.slug ])}
          image={category.imageUrl ?? undefined}
          altTitle={category.imageAltTitle ?? undefined}
          articleCount={category.articlesCount}
          lang={lang}
        />
      </li>
    ))}
  </ul>
</section>
