---
import { i18nConfig, type Locale } from '@/config/i18n.config'
import { getLanguageHref, t } from '@/translations'

export interface LocaleWithHref {
  href: string
  locale: string
}

interface Props {
  translatedPaths?: Array<LocaleWithHref>,
  lang: Locale
}

const { translatedPaths = undefined, lang } = Astro.props

let hrefs: Array<LocaleWithHref>

if (translatedPaths) {
  hrefs = translatedPaths
} else {
  hrefs = i18nConfig.locales.map((locale) => {
    return {
      href: getLanguageHref(
        locale,
        Astro.url.pathname,
        Astro.url.search,
        Astro.url.hash
      ),
      locale: locale
    }
  })
}

const languageSwitcherAriaLabelTranslation = await t(lang, 'common', 'language_switcher_aria_label_title')
---

<ul
  role="list"
  aria-label={languageSwitcherAriaLabelTranslation}
  class="flex gap-1 items-center"
>
  {
    hrefs.map((hrefWithLocale) => {
      const isActive = hrefWithLocale.locale === lang

      return (
        <li>
          <a
            href={hrefWithLocale.href}
            data-locale={hrefWithLocale.locale}
            aria-current={isActive ? 'true' : 'false'}
            class={`px-2 py-1 rounded ${
              isActive ? 'font-bold underline' : 'text-app-text hover:underline'
            }`}
          >
            {hrefWithLocale.locale.toUpperCase()}
          </a>
        </li>
      )
    })}
</ul>
