---
import { t } from '@/translations'
import { getLocale } from '@/translations'

const lang = getLocale(Astro.url.pathname)

const homeLinkTranslation = await t(lang, 'common', 'nav_bar_home_link_title')
const navBarAriaLabelTranslation = await t(lang, 'common', 'nav_bar_aria_label_title')
---

<nav
  class="w-full border-b border-app-border"
  aria-label={navBarAriaLabelTranslation}
>
  <div class="max-w-7xl mx-auto flex items-center justify-between px-4 h-16">
    <a
      href="/"
      class="text-xl font-bold"
    >
      LOGO
    </a>

    <div class="hidden md:flex space-x-6">
      <a
        href={'/'}
        class="text-app-text-secondary hover:underline"
      >
        { homeLinkTranslation }
      </a>
    </div>
  </div>
</nav>
