---
import TagCard from './TagCard.astro'
import { t } from '@/translations'
import { TAGS_PATH } from '@/modules/Shared/Infrastructure/Frontend/Paths'
import { buildRelativeUrl } from '@/modules/Shared/Infrastructure/Frontend/Url'
import type { Locale } from '@/config/i18n.config'
import type { TagApplicationDto } from '@/modules/Tag/Application/TagApplicationDto'

interface Props {
  lang: Locale
  tags: Array<TagApplicationDto>
}

const { lang, tags } = Astro.props

const sectionTitleTranslation = await t(lang, 'tags', 'tag_card_gallery_section_title')
---

<section aria-labelledby="tags-section-title">
  <h2 id="tags-section-title" class="sr-only">
    {sectionTitleTranslation}
  </h2>

  <ul class="grid grid-cols-2 gap-2 md:gap-4 tb:grid-cols-3">
    {tags.map((tag) => (
      <li>
        <TagCard
          title={tag.name}
          href={buildRelativeUrl(lang, [ TAGS_PATH, tag.slug ])}
          articleCount={tag.articlesCount}
          lang={lang}
        />
      </li>
    ))}
  </ul>
</section>
