---
import container from '~/container'
import { GetCategories } from '@/modules/Category/Application/GetCategories/GetCategories'
import CategoriesLayout from '@/layouts/CategoriesLayout.astro'
import CategoryCardGallery from '@/components/CategoryCardGallery.astro'
import { getLocale, t } from '@/translations'

const lang = getLocale(Astro.url.pathname)

const getCategoriesUseCase = container.resolve<GetCategories>('getCategories')
const categories = await getCategoriesUseCase.get(lang)

const h1TitleTranslation = await t(lang, 'categories', 'categories_page_h1_title')
---

<CategoriesLayout>
  <main class="container px-5 my-10 flex flex-col gap-6">
    <h1 class="text-xl font-bold">{h1TitleTranslation}</h1>
    <CategoryCardGallery
      lang={lang}
      categories={categories}
    />
  </main>
</CategoriesLayout>
