---
// eslint-disable-next-line no-restricted-imports,import/no-relative-parent-imports
import '../styles/global.css'
import Footer from '@/components/Footer.astro'
import NavBar from '@/components/NavBar.astro'
import type { Locale } from '@/config/i18n.config'
import type { LocaleWithHref } from '@/components/LanguageSwitcher.astro'

interface Props {
  translatedPaths?: Array<LocaleWithHref>,
  lang: Locale
}

const { translatedPaths = undefined, lang } = Astro.props
---

<html lang={lang} translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <slot name="head"/>
  </head>

  <body class="min-h-screen flex flex-col bg-app-body text-app-text font-sans antialiased text-base text-body">
    <NavBar
      translatedPaths={translatedPaths}
      lang={lang}
    />

    <slot />

    <Footer lang={lang}/>
  </body>
</html>
